html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
main {
    display: block
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
a {
    background-color: transparent
}
img {
    border-style: none
}
[hidden] {
    display: none
}
body {
    background: #f5f7f9;
    color: #555;
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    font-size: 1em;
    line-height: 2
}
@media (max-width: 991px) {
    body {
        padding-right:0
    }
}
h1,h2,h3,h4,h5,h6 {
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 20px 0 15px;
    padding: 0
}
h1 {
    font-size: 1.75em
}
h2 {
    font-size: 1.625em
}
p {
    margin: 0 0 20px 0
}
a,span.exturl {
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: transparent;
    border-bottom: 1px solid #999;
    color: #555;
    outline: 0;
    text-decoration: none;
    cursor: pointer
}
iframe,img,video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}
body,html {
    height: 100%
}
.header {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 20px)
}
@media (max-width: 991px) {
    .header {
        width:auto
    }
}
@media (min-width: 1200px) {
    .header {
        width:1160px
    }
}
.header-inner {
    margin: 0 auto;
    padding: 100px 0 70px;
    width: calc(100% - 20px)
}
@media (max-width: 991px) {
    .header-inner {
        border-radius:initial;
        position: relative;
        width: auto
    }
}

.header {
    background: 0 0
}

.header-inner {
    position: relative
}

.header-inner {
    background: #fff;
    border-radius: initial;
    box-shadow: initial;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 240px
}

.site-brand-container {
    position: relative
}

.site-meta {
    background: #222;
    color: #fff;
    padding: 20px 0
}
@media (max-width: 991px) {
    .site-meta {
        box-shadow:0 0 16px rgba(0,0,0,.5)
    }
}
.site-meta {
    margin: 0;
    text-align: center;
	height: 320px;
}
@media (max-width: 767px) {
    .site-meta {
        text-align:center;
		height: auto;
    }
}
@media (max-width: 991px) {
    .site-meta {
		height: auto;
    }
}
.brand {
    background: #222;
    border-bottom: none;
    color: #fff;
    display: inline-block;
    line-height: 1.375em;
    padding: 0 40px;
    position: relative
}
.site-title {
    display: inline-block;
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: top
}

.site-subtitle {
    color: #ddd;
    font-size: .8125em;
    margin-top: 10px
}
.container {
    min-height: 100%;
    position: relative
}
@media (max-width: 991px) {
    .container .main-inner {
        width:auto
    }
}
@media (min-width: 1200px) {
    .container .header-inner {
        width:1160px
    }
}
.main-inner {
    margin: 0 auto;
    width: calc(100% - 20px)
}
@media (min-width: 1200px) {
    .container .main-inner {
        width:1160px
    }
}

@media (min-width: 1200px) {
    .container .footer-inner {
        width:1160px
    }
}

.post-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif
}
@media (max-width: 767px) {
    .post-body {
        font-size:.875em
    }
}

@media (min-width: 1200px) {
    .post-body {
        font-size:1.125em
    }
}
.btn {
    background: #fff;
    border: 2px solid #555;
    border-radius: 2px;
    color: #555;
    display: inline-block;
    font-size: .875em;
    line-height: 2;
    padding: 0 20px;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color
}
.page-number-basic,.pagination .next,.pagination .page-number,.pagination .prev,.pagination .space {
    display: inline-block;
    margin: 0 10px;
    padding: 0 11px;
    position: relative;
    top: -1px
}
.pagination {
    border-top: 1px solid #eee;
    margin: 120px 0 40px;
    text-align: center
}
@media (max-width: 767px) {
    .page-number-basic,.pagination .next,.pagination .page-number,.pagination .prev,.pagination .space {
        margin:0 5px
    }
}
@media (max-width: 767px) {
    .pagination {
        border-top:none
    }

    .pagination .next,.pagination .page-number,.pagination .prev {
        border-bottom: 1px solid #eee;
        border-top: 0;
        margin-bottom: 10px;
        padding: 0 10px
    }
}
.pagination .next,.pagination .page-number,.pagination .prev {
    border-bottom: 0;
    border-top: 1px solid #eee;
    transition-property: border-color;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}
.pagination .space {
    margin: 0;
    padding: 0
}
.pagination .next {
    margin-right: 0
}
.pagination .page-number.current {
    background: #ccc;
    border-top-color: #ccc;
    color: #fff
}

.use-motion .comments,.use-motion .pagination,.use-motion .post-block {
    opacity: 0
}

.use-motion .post-header {
    opacity: 0
}

.use-motion .post-body {
    opacity: 0
}
.post-button {
    margin-top: 40px
}
.post-eof {
    background: #ccc;
    height: 1px;
    margin: 80px auto 60px;
    text-align: center;
    width: 8%
}

article:last-child .post-eof {
    display: none
}

.posts-expand {
    padding-top: 40px
}

@media (max-width: 991px) {
    .post-body {
        text-align:justify
    }
}
.posts-expand .post-meta {
    color: #999;
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    margin: 3px 0 60px 0;
    text-align: center
}
@media (max-width: 767px) {
    .posts-expand {
        margin:0 20px
    }
}
.posts-expand .post-meta time {
    border-bottom: 1px dashed #999;
    cursor: help
}

.post-meta .post-meta-item+.post-meta-item::before {
    content: '|';
    margin: 0 .5em
}

.post-meta .post-meta-item {
    font-size: .75em
}

.post-meta-divider {
    margin: 0 .5em
}

.post-meta-item-icon {
    margin-right: 3px
}
@media (max-width: 991px) {
    .post-meta-item-icon {
        display:inline-block
    }
}

.posts-expand .post-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: 400;
    margin: initial;
    text-align: center
}

.posts-expand .post-title-link {
    border-bottom: none;
    color: #555;
    display: inline-block;
    line-height: 1.2;
    position: relative;
    vertical-align: top
}

.posts-expand .post-title-link::before {
    background-color: #000;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    visibility: hidden;
    width: 100%;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

.post-toc-wrap {
    overflow-x: hidden;
    overflow-y: auto
}
.site-state {
    display: flex;
    justify-content: center;
    line-height: 1.4;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap
}
.site-state-item {
    border-left: 1px solid #eee;
    padding: 0 15px
}
.site-state-item:first-child {
    border-left: none
}
.site-state-item a {
    border-bottom: none
}
.site-state-item-count {
    color: inherit;
    display: block;
    font-size: 1em;
    font-weight: 600;
    text-align: center
}
.site-state-item-name {
    color: #999;
    font-size: .8125em
}

body {
    overscroll-behavior: none
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body::before {
        animation:rainbow 15s ease infinite;
        background: linear-gradient(124deg,red,#ff7f00,#ff0,#7fff00,#0f0,#00ff7f,#0ff,#007fff,#00f,#7f00ff,#f0f,#ff007f,red);
        background-size: 1000% 1000%;
        content: '';
        display: block;
        height: 100px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateY(-99.99px);
        z-index: 2147483647
    }
}
:-webkit-scrollbar {
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    border-radius: 10px
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,.1)
}


@media (min-width: 1200px) {
    .container .header-inner {
        width:240px
    }
}
.main::after,.main::before {
    content: ' ';
    display: table
}

.main::after {
    clear: both
}
.content-wrap {
    background: #fff;
    border-radius: initial;
    box-shadow: initial;
    box-sizing: border-box;
    float: right;
    min-height: 700px;
    padding: 40px;
    width: calc(100% - 252px)
}
@media (min-width: 768px) and (max-width:991px) {
    .content-wrap {
        border-radius:initial;
        padding: 20px;
        width: 100%
    }
}
@media (max-width: 767px) {
    .content-wrap {
        border-radius:initial;
        min-height: auto;
        padding: 20px;
        width: 100%
    }
}
@media (max-width: 567px) {
    .content-wrap {
        padding:initial!important
    }

    .posts-expand {
        margin: initial!important;
        padding-top: 8px!important
    }

    .posts-expand .post-header {
        padding: 0 18px
    }

    .posts-expand .post-meta {
        margin: 3px 0 10px 0!important
    }

    .post-block {
        margin-top: initial!important;
        padding: 8px 0!important
    }
    .post-body>p {
        margin: 0 0 10px 0;
        padding: 0 18px
    }
	    .post-body>div.post-button a {
        margin-left: 18px
    }
}

.brand {
    background: 0 0;
    padding: 0
}
.site-subtitle {
    font-weight: initial;
    margin: 10px 10px 0
}

.custom-logo-image {
    margin-top: 20px
}
@media (max-width: 991px) {
    .custom-logo-image {
        display:none
    }
}
.site-nav-toggle {
    left: 20px;
    top: 50%;
    transform: translateY(-50%)
}
.site-nav {
    border-top: none
}
.menu .menu-item a:hover,.menu .menu-item span.exturl:hover,.menu-item-active a {
    background: #f9f9f9;
    border-bottom-color: #fff
}

.menu .menu-item {
    display: block;
    margin: 0
}

.menu .menu-item a,.menu .menu-item span.exturl {
    box-sizing: border-box;
    line-height: inherit;
    padding: 5px 20px;
    position: relative;
    text-align: left;
    transition-property: background-color;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}
.menu .menu-item .badge {
    background-color: #ccc;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    float: right;
    font-weight: 700;
    line-height: 1;
    margin: .35em 0 0 0;
    padding: 2px 5px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.1);
    vertical-align: middle;
    white-space: nowrap
}

.menu .menu-item br {
    display: none
}
.sidebar {
    bottom: auto;
    right: auto
}

.sidebar a,.sidebar span.exturl {
    color: #555
}
.sidebar-inner {
    background: #fff;
    border-radius: initial;
    box-shadow: initial;
    box-sizing: border-box;
    color: #555;
    width: 240px;
    opacity: 0
}
.site-author::after,.site-author::before {
    content: ' ';
    display: table
}

.site-author::after {
    clear: both
}

.site-state-item {
    padding: 0 10px
}

.chat,.feed-link {
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    text-align: center
}

.chat a,.feed-link a {
    border: 0;
    color: #fc6423;
    display: block
}
.links-of-author {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.links-of-author-item {
    margin: 5px 0 0;
    width: 50%
}

.links-of-author-item a,.links-of-author-item span.exturl {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 216px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.links-of-author-item a,.links-of-author-item span.exturl {
    border-bottom: none;
    display: block;
    text-decoration: none
}

.links-of-author-item a::before,.links-of-author-item span.exturl::before {
    display: none
}
.links-of-author-item .fa {
    margin-right: 2px
}

.links-of-blogroll {
    padding: 3px 0 0;
    text-align: center
}

.links-of-blogroll-item {
    padding: 0
}

@media (max-width: 991px) {
    .post-meta-item-text {
        display:none
    }
}

.headband {
    background: #222;
    height: 3px
}



.use-motion .brand {
    opacity: 0
}

.use-motion .custom-logo-image,.use-motion .logo,.use-motion .site-subtitle,.use-motion .site-title {
    opacity: 0;
    position: relative;
    top: -10px
}

.site-nav-toggle {
    display: none;
    left: 10px;
    position: absolute
}
@media (max-width: 767px) {
    .site-nav-toggle {
        display:block
    }
}
.site-nav {
    display: block
}
@media (max-width: 767px) {
    .site-nav {
        border-top:1px solid #ddd;
        clear: both;
        display: none;
        margin: 0 -10px;
        padding: 0 10px
    }
}
.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center
}

.menu-item {
    display: inline-block;
    list-style: none;
    margin: 0 10px
}
@media (max-width: 767px) {
    .menu-item {
        margin-top:10px
    }
}
.menu-item a,.menu-item span.exturl {
    border-bottom: 1px solid transparent;
    display: block;
    font-size: .8125em;
    line-height: inherit;
    transition-property: border-color;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

.menu-item .fa {
    margin-right: 5px
}

.use-motion .menu-item {
    opacity: 0
}

.book-mark-link {
    border-bottom: none;
    display: inline-block;
    position: fixed;
    right: 30px;
    top: -10px;
    transition: .3s
}
@media (max-width: 991px) {
    .book-mark-link {
        display:none
    }
}
.book-mark-link::before {
    color: #222;
    content: '\f02e';
    font-family: FontAwesome;
    font-size: 32px;
    line-height: 1
}

.book-mark-link-fixed,.book-mark-link:hover {
    top: -2px
}

.sidebar {
    background: #f5f7f9;
    box-shadow: none;
    float: left;
    position: static;
    width: 240px
}
.sidebar-toggle {
    display: none
}
.github-corner svg {
    border: 0;
    color: #fff;
    fill: #222;
    position: absolute;
    right: 0;
    top: 0
}

@media (max-width: 991px) {
    .github-corner svg {
        color:#222;
        fill: #fff
    }
}
.sidebar {
    background: #222;
    bottom: 0;
    box-shadow: inset 0 2px 6px #000;
    position: fixed;
    top: 0;
    z-index: 1040
}
@media (max-width: 991px) {
    .sidebar {
        display:none
    }
}
.sidebar a,.sidebar span.exturl {
    border-bottom-color: #555;
    color: #999
}
.sidebar-inner {
    color: #999;
    padding: 20px 10px;
    text-align: center
}

.site-overview-wrap {
    overflow-x: hidden;
    overflow-y: auto
}

.cc-license {
    margin-top: 10px;
    text-align: center
}

.cc-license .cc-opacity {
    border-bottom: none;
    opacity: .7
}
.cc-license img {
    display: inline-block
}

.site-author-image {
    border: 1px solid #eee;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 120px;
    padding: 2px;
    border-radius: 50%
}

.site-author-image {
    transition: transform 1s ease-out
}
.site-author-name {
    color: #222;
    font-weight: 600;
    margin: 0;
    text-align: center
}

.site-description {
    color: #999;
    font-size: .8125em;
    margin-top: 0;
    text-align: center
}

.links-of-author {
    margin-top: 20px
}

.links-of-author a,.links-of-author span.exturl {
    border-bottom-color: #555;
    display: inline-block;
    font-size: .8125em;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

.links-of-author a::before,.links-of-author span.exturl::before {
    background: #faadff;
    border-radius: 50%;
    content: ' ';
    display: inline-block;
    height: 4px;
    margin-right: 3px;
    vertical-align: middle;
    width: 4px
}

.chat,.feed-link {
    margin-top: 10px
}

.chat a,.feed-link a {
    border: 1px solid #fc6423;
    border-radius: 4px;
    color: #fc6423;
    display: inline-block;
    padding: 0 15px
}

.chat a .fa,.feed-link a .fa {
    margin-right: 5px
}
.links-of-blogroll {
    font-size: .8125em;
    margin-top: 10px
}

.links-of-blogroll-title {
    font-size: .875em;
    font-weight: 600;
    margin-top: 0
}

.links-of-blogroll-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.links-of-blogroll-item {
    padding: 2px 10px
}

.links-of-blogroll-item a,.links-of-blogroll-item span.exturl {
    box-sizing: border-box;
    display: inline-block;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#sidebar-dimmer {
    display: none
}
.sidebar-nav {
    margin: 0 0 20px;
    padding-left: 0
}
.sidebar-nav li {
    border-bottom: 1px solid transparent;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: .875em
}
.sidebar-nav li.sidebar-nav-overview {
    margin-left: 10px
}
.sidebar-panel {
    display: none
}
.sidebar-panel-active {
    display: block
}
.sidebar-toggle {
    background: #222;
    bottom: 45px;
    cursor: pointer;
    height: 14px;
    left: 30px;
    line-height: 0;
    padding: 5px;
    position: fixed;
    width: 14px;
    z-index: 1050
}
.footer {
    padding: 20px 0
}
.footer-inner {
    box-sizing: border-box;
    margin: 0 auto;
    width: calc(100% - 20px)
}
@media (max-width: 991px) {
    .footer-inner {
        padding:0;
        width: auto
    }
}

.footer {
    color: #999;
    font-size: .875em
}
.footer img {
    border: 0
}
.footer-inner {
    text-align: center
}
#animate {
    animation: iconAnimate 1.33s ease-in-out infinite
}
.with-love {
    color: grey;
    display: inline-block;
    margin: 0 5px
}
.search-pop-overlay {
    background-color: rgba(0,0,0,.3);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2080
}
.search-popup {
    background: #fff;
    border-radius: 5px;
    color: #333;
    display: none;
    height: 80%;
    left: 50%;
    margin-left: -350px;
    padding: 0;
    position: fixed;
    top: 10%;
    width: 700px;
    z-index: 9999
}
.footer-inner {
    padding-left: 260px
}
.back-to-top {
    left: auto;
    right: 30px
}
@media (max-width: 991px) {
    .back-to-top {
        right:20px
    }
}
.back-to-top {
    background: #222;
    bottom: -100px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    left: 30px;
    opacity: .6;
    padding: 0 6px;
    position: fixed;
    text-align: center;
    transition-property: bottom;
    z-index: 1050;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    width: initial
}
@media (max-width: 991px) {
    .back-to-top {
        left:20px;
        opacity: .8
    }
}
.back-to-top.back-to-top-on {
    bottom: 30px
}
.reading-progress-bar {
    background: #87ceeb;
    display: block;
    height: 8px;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 9999
}
